<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile
                name="FILEAPPENDER"
                fileName="homerating.log"
                filePattern="homerating-%d{yyyy-MM-dd}.log">

            <PatternLayout>
                <Pattern>%d{ISO8601} [] %-5p - %m%n</Pattern>
            </PatternLayout>

            <Policies>
                <!-- Rotated everyday -->
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="FILEAPPENDER"/>
        </Root>
    </Loggers>
</Configuration>
